/.vs/ScholarshipAutoFillAssistant2/config/applicationhost.config
/.vs/ScholarshipAutoFillAssistant2/FileContentIndex/f9fe53ea-f30a-4f0f-a3d6-ea31b7ef154d.vsidx
/.vs/ScholarshipAutoFillAssistant2/v18/.suo
/.vs/ScholarshipAutoFillAssistant2/v18/DocumentLayout.json
/backend-v2/ScholarshipAutoFill.Api/bin
/backend-v2/ScholarshipAutoFill.Api/obj
/frontend/node_modules/

/.vs/ScholarshipAutoFillAssistant2/DesignTimeBuild/.dtbcache.v2
/backend-v2/ScholarshipAutoFill.Api/bin/
/backend-v2/ScholarshipAutoFill.Api/obj/
Debug/net10.0/apphost.exe
 


/.vs/ScholarshipAutoFillAssistant2/FileContentIndex/254ec97f-12ce-4888-9d13-e6845241ea25.vsidx
/.vs/ScholarshipAutoFillAssistant2/FileContentIndex/2beb8923-0cb9-4d99-8069-21f7eff1129b.vsidx
/.vs/ScholarshipAutoFillAssistant2/FileContentIndex/733e19ec-b835-45e4-a56b-d52c41a40794.vsidx
/.vs/ScholarshipAutoFillAssistant2/FileContentIndex/7bbf7c6f-c2f7-4fce-9620-c5e46d6ed696.vsidx
/.vs/ScholarshipAutoFillAssistant2/FileContentIndex/8d0fe175-7efd-4f76-bd67-f916ce0ba1be.vsidx
/.vs/ScholarshipAutoFillAssistant2/v18/.futdcache.v2
/.vs/ScholarshipAutoFillAssistant2/v18/DocumentLayout.backup.json
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/ref/ScholarshipAutoFill.Api.dll
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/refint/ScholarshipAutoFill.Api.dll
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/rpswa.dswa.cache.json
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/ScholarshipAutoFill.Api.AssemblyInfo.cs
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/ScholarshipAutoFill.Api.AssemblyInfoInputs.cache
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/ScholarshipAutoFill.Api.assets.cache
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/ScholarshipAutoFill.Api.csproj.FileListAbsolute.txt
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/ScholarshipAutoFill.Api.dll
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/ScholarshipAutoFill.Api.GeneratedMSBuildEditorConfig.editorconfig
/backend-v2/ScholarshipAutoFill.Api/obj/Debug/net10.0/ScholarshipAutoFill.Api.pdb
/backend-v2/ScholarshipAutoFill.Api/obj/project.assets.json
/backend-v2/ScholarshipAutoFill.Api/obj/project.nuget.cache
/backend-v2/ScholarshipAutoFill.Api/obj/ScholarshipAutoFill.Api.csproj.nuget.dgspec.json
